fastapi
uvicorn
pypdf
pdf2image
google-generativeai
faiss-cpu
sentence-transformers
langchain-text-splitters
numpy
python-multipart
pillow
python-dotenv
torch
transformers
pytesseract
accelerate
python-docx